<header>
    <nav>
        <!-- logo start -->
        <div class="logo">

        </div>
        <!-- logo end -->
        <!-- nav link start -->
        <div class="nav-links">
            <a href="#" class="active">Home</a>
            <a href="#">How it works</a>
            <a href="#">Students</a>
            <a href="#">Faculties</a>
            <a href="#">Benefits</a>
            <a href="#">About</a>
        </div>
        <!-- nav link end -->
    </nav>
</header>
